.logo{
    background-image: url('resources/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.text-1{
    margin-top: -70px;

}
.text-2{
font-family: 'myfont-5',;
font-weight: 800;
font-size: xxl-large;
color: rgb(33, 103, 165);
}

*{
    font-family: myfont-2;
}

.signupstart{
    font-family: myfont-3;
}

label{
    font-family: myfont-5;
}
.social{
    font-family: myfont-3;
    font-weight: 500;
    color: blue;
}

.login{
    font-family: myfont-3 ;
    font-style: normal;
    font-weight: 900;
}

.cart-icon{
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.logo1{
    height: 40px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.fter{
    font-family: myfont-3;
}

.cursor{
    cursor: pointer;
}

.list{
    list-style: none;
}